<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= comic.name %>
  </title>
</head>

<body>
  <div class="comic-details"></div>
  <h1>
    <%= comic.name %>
  </h1>
  <% if (comic.issue) { %>
    <p>comic issue #<% comic.issue %>
    </p>
    <% } else { %>
      <p>This issue must be special!</p>
      <% } %>

        <% if (comic.wishList) { %>
          <p>Comic is on your wishlist!</p>
          <% } else { %>
            <p>Comic is not on your wishlist.</p>
            <% } %>
              <div class="comic-actions">
                <form class="delete-button" action="/comics/<%= comic._id %>" ?_method=DELETE" method="POST">
                  <button class="delete-button" type="submit">
                    Delete <%=comic.name %>
                  </button>
                </form>
                <a class="edit-link" href="/comics/<%= comic._id %>/edit">
                  <div class="edit-text">Edit <%= comic.name %>
                  </div>
                </a>
                <a class="comic-index-link" href="/comics">
                  <div class="index-text">Back to log</div>
                </a>
</body>

</html>